.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: 600;
	font-size: 1.25rem;
	gap: 0.5rem;
	top: 0;

	.title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0.5;
		gap: 1rem;

		.level {
			font-size: 1.75rem;
		}

		.round {
			font-size: 1.5rem;
		}

		.points {
			font-weight: normal;
		}
	}
}
